<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<div class="banner_1">
	<div class="container">
		<div id="search_wrapper1">
		   <div id="search_form" class="clearfix">
		    <!--<h1>Start your job search</h1>-->
		    <!--<p>
			 <input type="text" class="text" placeholder=" " value="Enter Keyword(s)" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Keyword(s)';}">
			 <input type="text" class="text" placeholder=" " value="Location" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location';}">
			 <label class="btn2 btn-2 btn2-1b"><input type="submit" value="Find Jobs"></label>
			</p>-->			
           </div>
		</div>
   </div> 
</div>	
<div class="container">
    <div class="single">  
	   <div class="form-container">
        <h2>Register Form</h2>
        <form name="registerForm" novalidate>
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="firstname">First Name</label>
	                <div class="col-md-9">
	                    <input type="text" name="firstname" ng-model="userDetails.firstname" required="" class="form-control input-sm" />
	                </div>
	            </div>
	        </div>
	        <!--<div class="row" ng-show="registerForm.$submitted || (registerForm.firstname.$touched && !registerForm.firstname.$valid)">
	        	<div class="form-group col-md-12">
	                <label class="col-md-3 control-lable">*First Name cannot be empty</label>
	            </div>
	        </div>-->
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="lastName">Last Name</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.lastname" ng-required="required" class="form-control input-sm"/>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="sex">Sex</label>
	                <div class="col-md-9" class="form-control input-sm">
	                    <div class="radios">
					        <label for="radio-01" class="label_radio">
					            <input type="radio" ng-model="userDetails.sex" value="Male" required=""> Male
					        </label>
					        <label for="radio-02" class="label_radio">
					            <input type="radio" ng-model="userDetails.sex" value="Female" required=""> Female
					        </label>
		                </div>
	                </div>
	            </div>
	        </div>  
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="dob" required="">Date of birth</label>
	                <div class="col-md-9">
	                    <input type="date" ng-model="userDetails.dob" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>  
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="dateofjoining" required="">Date of Joining UTD</label>
	                <div class="col-md-9">
	                    <input type="date" ng-model="userDetails.dateofjoining" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	  
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="jobtype">Searching For</label>
	                <div class="col-md-9" class="form-control input-sm">
	                    <div class="radios">
					        <label for="radio-03" class="label_radio">
					            <input type="radio" ng-model="userDetails.jobtype" value="Internship" required=""> Internship
					        </label>
					        <label for="radio-04" class="label_radio">
					            <input type="radio" ng-model="userDetails.jobtype" value="Fulltime" required=""> Full Time
					        </label>
		                </div>
	                </div>
	            </div>
	        </div>   
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="visastatus">Visa Status</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.visastatus" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	  
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-12 control-lable register-bolds">Address</label>
	            </div>
	        </div>	      
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="streetaddress">Street Address</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.streetaddress" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="apthousenumber">Apt/House Number</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.apthousenumber" class="form-control input-sm"/>
	                </div>
	            </div>
	        </div>	   
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="city">City</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.city" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	 
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="state">State</label>
	                <div class="col-md-9">	                    
	                    <select class="form-control input-sm" ng-model="userDetails.state" ng-options="state.state for state in states">
				    		<option value="">-- Choose State --</option>
					    </select>
	                </div>
	            </div>
	        </div>	       
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="zipcode">Zipcode</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.zipcode" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	        
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="mobile">Mobile Number</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.mobile" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	        
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="email">Email</label>
	                <div class="col-md-9">
	                    <input type="email" ng-model="userDetails.email" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div> 
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-12 control-lable register-bolds">Education</label>
	            </div>
	        </div>	  
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="degree">Degree</label>
	                <div class="col-md-9">	                    
	                    <select ng-options="degree.degree for degree in degrees" ng-model="userDetails.degree" class="form-control input-sm">
	                    	<option value="">-- Choose Degree --</option>
	                    </select>
	                </div>
	            </div>
	        </div>	
	        <div class="row" ng-if="userDetails.degree.degree == 'Other'">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="newdegree">Specify Degree</label>
	                <div class="col-md-9">	                    
	                    <input type="text" ng-model="userDetails.newdegree" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="major">Major</label>
	                <div class="col-md-9">	                    
	                    <select ng-options="major.major for major in majors" ng-model="userDetails.major" class="form-control input-sm">
	                    	<option value="">-- Choose Major --</option>
	                    </select>
	                </div>
	            </div>
	        </div>
	        <div class="row" ng-if="userDetails.major.major == 'Other'">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="newmajor">Specify Major</label>
	                <div class="col-md-9">	                    
	                    <input type="email" ng-model="userDetails.newmajor" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>			        	        	      
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="gpa">GPA</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.gpa" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	 
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="graddate">(Expected) Graduation Date</label>
	                <div class="col-md-9">
	                    <input type="date" ng-model="userDetails.graddate" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div> 
	        <div ng-if="workExperience.length > 0">
				<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-12 control-lable register-bolds">Work Experience</label>
		            </div>
		        </div>	     
		        <div ng-repeat="workex in workExperience">
		        	<div class="row">
		            	<div class="form-group col-md-12">
		                	<label class="col-md-3 control-lable" for="position">W.E {{workex.number}}</label>
		            	</div>
		        	</div>
		        	<div class="row">
		            	<div class="form-group col-md-12">
		                	<label class="col-md-3 control-lable" for="position">Position</label>
		                	<div class="col-md-9">
		                    	<input type="text" ng-model="workex.position" class="form-control input-sm"/>
		                	</div>
		            	</div>
		        	</div>	        
		        	<div class="row">
		            	<div class="form-group col-md-12">
		                	<label class="col-md-3 control-lable" for="company">Company</label>
		                	<div class="col-md-9">
		                    	<input type="text" ng-model="workex.company" class="form-control input-sm"/>
		                	</div>
		            	</div>
		        	</div>	        
		        	<div class="row">
		            	<div class="form-group col-md-3">
		                	<label class="col-md-3 control-lable" for="from">From</label>
		            	</div>
		            	<div class="form-group col-md-3">	                	
		                	<input type="date" ng-model="workex.from" class="form-control input-sm" required=""/>	                	
		            	</div>
		            	<div class="form-group col-md-3">
		                	<label class="col-md-3 control-lable" for="position">To</label>
		            	</div>
		            	<div class="form-group col-md-3">	                	
		                	<input type="date" ng-model="workex.to" class="form-control input-sm" required=""/>	                	
		            	</div>
		        	</div>	        	
		        </div>
	        </div>	               
	        <div class="row">
            	<div class="form-group col-md-6">
            		<a href="" style="float: right;" ng-click="addWorkExperience()"> Add Work Experience</a>
            	</div>
            	<div class="form-group col-md-6" ng-show="workExperience.length > 0">
            		<a href="" style="float: right;" ng-click="removeWorkExperience()"> Remove Work Experience</a>
            	</div>
	        </div> 		        
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-12 control-lable register-bolds">Others</label>
	            </div>
	        </div>	        
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="disability">Disability</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.disability" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="veteran">Veteran Status</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.veteran" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>    
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="linkedin">LinkedIn (Optional)</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.linkedin" class="form-control input-sm"/>
	                </div>
	            </div>
	        </div>	    
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="portfolio">Portfolio (Optional)</label> 
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.portfolio" class="form-control input-sm"/>
	                </div>
	            </div>
	        </div>	       	        
	        <div class="row">
	            <div class="form-actions floatRight">
	                <input type="submit" value="Register" ng-click="register()" class="btn btn-primary btn-sm">
	            </div>
	        </div>
    	</form>
    </div>
 </div>
</div>