<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<div class="banner_1">	
</div>	
<div class="container">
    <div class="single">  
	   <div class="form-container">
        <h2 ng-if="!updateForm">Register Form</h2>
        <h2 ng-if="updateForm">Update Form</h2>
        <form name="registerForm" novalidate>
        	<div class="row">
	            <div class="form-group col-md-12" class="required">
	                <label class="col-md-2 control-lable requiredtext" for="firstname">* - Required Fields</label>
	            </div>
	        </div>
	        <div class="row">
	            <div class="form-group col-md-12" class="required">
	                <label class="col-md-3 control-lable" for="firstname">First Name <label class="requiredtext">*</label></label>
	                <div class="col-md-9">
	                    <input type="text" name="firstname" ng-model="userDetails.firstname" required="" class="form-control input-sm" />
	                </div>
	            </div>
	        </div>
	        <!--<div class="row" ng-show="registerForm.$submitted || (registerForm.firstname.$touched && !registerForm.firstname.$valid)">
	        	<div class="form-group col-md-12">
	                <label class="col-md-3 control-lable">*First Name cannot be empty</label>
	            </div>
	        </div>-->
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="lastName">Last Name <label class="requiredtext">*</label></label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.lastname" ng-required="required" class="form-control input-sm"/>
	                </div>
	            </div>
	        </div>  
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="dob" required="">Date of birth <label class="requiredtext">*</label></label>
	                <div class="col-md-9">
	                    <input type="date" ng-model="userDetails.dob" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>  
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="dateofjoining" required="">Intake Batch <label class="requiredtext">*</label></label>
	                <div class="col-md-9">	                    
	                    <select ng-options="intake.intake for intake in intakes" ng-model="userDetails.intake" class="form-control input-sm">
	                    	<option value="">-- Choose Intake --</option>
	                    </select>
	                </div>
	            </div>
	        </div>	
	        <div class="row" ng-if="userDetails.intake.intake == 'Other'">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="newintake">Specify Intake Batch</label>
	                <div class="col-md-9">	                    
	                    <input type="text" ng-model="userDetails.newintake" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	  
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="jobtype">Searching For <label class="requiredtext">*</label></label>
	                <div class="col-md-9" class="form-control input-sm">
	                    <div class="radios">
					        <label for="radio-03" class="label_radio">
					            <input type="radio" ng-model="userDetails.jobtype" value="Internship" required=""> Internship
					        </label>
					        <label for="radio-04" class="label_radio">
					            <input type="radio" ng-model="userDetails.jobtype" value="Fulltime" required=""> Full Time
					        </label>
		                </div>
	                </div>
	            </div>
	        </div> 
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="newintake">Domain of Interest</label>
	                <div class="col-md-9">	                    
	                    <input type="text" ng-model="userDetails.domain" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>  
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="visastatus">Visa Status <label class="requiredtext">*</label></label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.visastatus" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	  
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-12 control-lable register-bolds">Address</label>
	            </div>
	        </div>	      
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="streetaddress">Street Address <label class="requiredtext">*</label></label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.streetaddress" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="apthousenumber">Apt/House Number</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.apthousenumber" class="form-control input-sm"/>
	                </div>
	            </div>
	        </div>	   
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="city">City <label class="requiredtext">*</label></label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.city" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	 
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="state">State <label class="requiredtext">*</label></label>
	                <div class="col-md-9">	                    
	                    <select class="form-control input-sm" ng-model="userDetails.state" ng-options="state.state for state in states">
				    		<option value="">-- Choose State --</option>
					    </select>
	                </div>
	            </div>
	        </div>	       
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="zipcode">Zipcode <label class="requiredtext">*</label></label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.zipcode" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	        
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="mobile">Mobile Number <label class="requiredtext">*</label></label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.mobile" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	        
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="email">Email <label class="requiredtext">*</label></label>
	                <div class="col-md-9">
	                    <input type="email" ng-model="userDetails.email" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div> 
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-12 control-lable register-bolds">Education <label class="requiredtext">*</label></label>
	            </div>
	        </div>	  
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="degree">Degree <label class="requiredtext">*</label></label>
	                <div class="col-md-9">	                    
	                    <select ng-options="degree.degree for degree in degrees" ng-model="userDetails.degree" class="form-control input-sm">
	                    	<option value="">-- Choose Degree --</option>
	                    </select>
	                </div>
	            </div>
	        </div>	
	        <div class="row" ng-if="userDetails.degree.degree == 'Other'">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="newdegree">Specify Degree</label>
	                <div class="col-md-9">	                    
	                    <input type="text" ng-model="userDetails.newdegree" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="major">Major <label class="requiredtext">*</label></label>
	                <div class="col-md-9">	                    
	                    <select ng-options="major.major for major in majors" ng-model="userDetails.major" class="form-control input-sm">
	                    	<option value="">-- Choose Major --</option>
	                    </select>
	                </div>
	            </div>
	        </div>
	        <div class="row" ng-if="userDetails.major.major == 'Other'">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="newmajor">Specify Major</label>
	                <div class="col-md-9">	                    
	                    <input type="email" ng-model="userDetails.newmajor" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>			        	        	      
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="gpa">GPA <label class="requiredtext">*</label></label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.gpa" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div>	 
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="graddate">(Expected) Graduation Date <label class="requiredtext">*</label></label>
	                <div class="col-md-9">
	                    <input type="date" ng-model="userDetails.graddate" class="form-control input-sm" required=""/>
	                </div>
	            </div>
	        </div> 
	        <div ng-if="workExperience.length > 0">
				<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-12 control-lable register-bolds">Work Experience</label>
		            </div>
		        </div>	     
		        <div ng-repeat="workex in workExperience">
		        	<div class="row">
		            	<div class="form-group col-md-12">
		                	<label class="col-md-3 control-lable" for="position">W.E {{workex.number}}</label>
		            	</div>
		        	</div>
		        	<div class="row">
		            	<div class="form-group col-md-12">
		                	<label class="col-md-3 control-lable" for="position">Position</label>
		                	<div class="col-md-9">
		                    	<input type="text" ng-model="workex.position" class="form-control input-sm"/>
		                	</div>
		            	</div>
		        	</div>	        
		        	<div class="row">
		            	<div class="form-group col-md-12">
		                	<label class="col-md-3 control-lable" for="company">Company</label>
		                	<div class="col-md-9">
		                    	<input type="text" ng-model="workex.company" class="form-control input-sm"/>
		                	</div>
		            	</div>
		        	</div>	        
		        	<div class="row">
		            	<div class="form-group col-md-3">
		                	<label class="col-md-3 control-lable" for="from">From</label>
		            	</div>
		            	<div class="form-group col-md-3">	                	
		                	<input type="date" ng-model="workex.from" class="form-control input-sm" required=""/>	                	
		            	</div>
		            	<div class="form-group col-md-3">
		                	<label class="col-md-3 control-lable" for="position">To</label>
		            	</div>
		            	<div class="form-group col-md-3">	                	
		                	<input type="date" ng-model="workex.to" class="form-control input-sm" required=""/>	                	
		            	</div>
		        	</div>	        	
		        </div>
	        </div>	               
	        <div class="row">
            	<div class="form-group col-md-6">
            		<a href="" style="float: right;" ng-click="addWorkExperience()"> Add Work Experience</a>
            	</div>
            	<div class="form-group col-md-6" ng-show="workExperience.length > 0">
            		<a href="" style="float: right;" ng-click="removeWorkExperience()"> Remove Work Experience</a>
            	</div>
	        </div> 		        
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-12 control-lable register-bolds">Voluntary Self-Identification</label>
	            </div>
	        </div>
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="sex">Gender <label class="requiredtext">*</label></label>
	                <div class="col-md-9" class="form-control input-sm">
	                    <div class="radios">
					        <label for="radio-01" class="label_radio">
					            <input type="radio" ng-model="userDetails.sex" value="Male" required=""> Male
					        </label>
					        <label for="radio-02" class="label_radio">
					            <input type="radio" ng-model="userDetails.sex" value="Female" required=""> Female
					        </label>
					        <label for="radio-03" class="label_radio">
					            <input type="radio" ng-model="userDetails.sex" value="I don’t wish to answer" required=""> I don’t wish to answer
					        </label>
		                </div>
	                </div>
	            </div>
	        </div>	
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="disability">Race/Ethnicity <label class="requiredtext">*</label></label>
	                <div class="col-md-9">	                    
	                    <select ng-options="value for value in raceValues" ng-model="userDetails.race" class="form-control input-sm">
	                    	<option value="">-- Choose Status --</option>
	                    </select>
	                </div>	                
	            </div>
	        </div>    
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="veteran">Veteran Status <label class="requiredtext">*</label></label>
	                <div class="col-md-9">	                    
	                    <select ng-options="value for value in veteranValues" ng-model="userDetails.veteran" class="form-control input-sm">
	                    	<option value="">-- Choose Status --</option>
	                    </select>
	                </div>	                
	            </div>
	        </div>    
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="disability">Disability <label class="requiredtext">*</label></label>
	                <div class="col-md-9">	                    
	                    <select ng-options="value for value in disabilityValues" ng-model="userDetails.disability" class="form-control input-sm">
	                    	<option value="">-- Choose Status --</option>
	                    </select>
	                </div>	                
	            </div>
	        </div>	
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-12 control-lable register-bolds">Others</label>
	            </div>
	        </div>		           
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="linkedin">LinkedIn (Optional)</label>
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.linkedin" class="form-control input-sm"/>
	                </div>
	            </div>
	        </div>	    
	        <div class="row">
	            <div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="portfolio">Portfolio (Optional)</label> 
	                <div class="col-md-9">
	                    <input type="text" ng-model="userDetails.portfolio" class="form-control input-sm"/>
	                </div>
	            </div>
	        </div>	
	        <div class="row" ng-show="!updateForm">
	        	<div class="form-group col-md-12">
	        		<label class="col-md-3 control-lable" for="portfolio">Resume</label> 
	        		<div class="col-md-9">
	        			<input type="file" ngf-select ng-model="file" name="file" ngf-pattern=".pdf,.doc,.docx'" accept=".pdf,.doc,.docx" ngf-max-size="3MB" />
	        		</div>	  
	        	</div>	        	      
	        </div>       	        
	        <div class="row">
	        	<div class="form-group col-md-12">
	        		<div class="form-actions floatRight" ng-class="{'col-md-6': updateForm}">
	                	<input type="submit" value="Register" ng-click="register()" class="btn btn-primary btn-sm">
	            	</div>
	            	<div class="form-actions floatRight col-md-6" ng-if="updateForm">
		                <input type="submit" value="Back" ng-click="back()" class="btn btn-primary btn-sm">
		            </div>
	        	</div>	            
	        </div>	        
    	</form>    	
    </div>
 </div>
</div>