<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<div class="banner_1">
</div>	
<div class="container">
	<div class="single">  	   
		<div class="col-md-8 single_right">
			<div class="login-form-section">
				<div class="login-content">
					<form action="/api/authentication/signup" method="post" name="signupForm">
						<div class="section-title">
							<h3>Sign Up</h3>
						</div>
						<div class="textbox-wrap">
							<div class="input-group">
								<span class="input-group-addon "><i class="fa fa-user"></i></span>
								<input type="text" required="required" class="form-control" placeholder="Username" name="username" ng-blur="validateUserName()" ng-keyup="validateUserName()">
							</div>
						</div>
						<div class="textbox-wrap" ng-show="userexistsmessage" >
							<div class="input-group">
								<label class="login_error_label">{{usernamemessagetxt}}</label>
							</div>
						</div>
						<div class="textbox-wrap">
							<div class="input-group">
								<span class="input-group-addon "><i class="fa fa-user"></i></span>
								<input type="email" required="required" class="form-control" placeholder="Email" name="email">
							</div>
						</div>
						<div class="textbox-wrap">
							<div class="input-group">
								<span class="input-group-addon "><i class="fa fa-key"></i></span>
								<input type="password" required="required" class="form-control " placeholder="Password" name="password">
							</div>
						</div>
						<div class="login-btn">
							<input type="submit" value="Sign Up">
						</div>
					</form>                	   					
				</div>
			</div>
		</div>
	<div class="clearfix"></div>
	</div>
</div>