<div class="banner_1">	
</div>	
<div class="container">
    <div class="single">  
	   	<div class="form-container">        	
        	<h2>Update Resume</h2>
        	<div class="row">
	        	<div class="form-group col-md-12">	        		
	        			<input type="file" ngf-select ng-model="file" name="file" ngf-pattern=".pdf,.doc,.docx'" accept=".pdf,.doc,.docx" ngf-max-size="3MB" />	        		
	        	</div>	        	      
	        </div>  
	        <div class="row">
	        	<div class="form-group col-md-12">
	        		<div class="form-actions floatRight col-md-6">
	                	<input type="submit" value="Update" ng-click="upload()" class="btn btn-primary btn-sm">
	            	</div>
	            	<div class="form-actions floatRight col-md-6">
		                <input type="submit" value="Back" ng-click="back()" class="btn btn-primary btn-sm">
		            </div>
	        	</div>	            
	        </div>	        	
    	</div>
	</div>
</div>