<div class="banner_1">	 
</div>	
<div class="container">
    <div class="single">  
		<div class="form-container">
        	<h2>Student Data</h2>
        	<div>
        		<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">First Name: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.firstname}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Last Name: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.lastname}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Gender: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.sex}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Date of birth: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.dob | date:'MM/dd/yyyy'}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Joining Batch: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.intake}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Searching For: </label>
		                <div class="col-md-9">
		                    <label required="" class="control-lable">{{studentDetail.jobtype}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row" ng-if="studentDetail.domain != null && studentDetail.domain != ''">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Domain of Interest: </label>
		                <div class="col-md-9">
		                    <label required="" class="control-lable">{{studentDetail.domain}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Visa Status: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.visastatus}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-12 control-lable register-bolds">Address</label>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Street Address: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.streetaddress}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Apt/House Number: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.apthousenumber}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">City: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.city}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">State: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.state}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Zipcode: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.zipcode}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Mobile Number: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.mobile}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Email: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.email}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-12 control-lable register-bolds">Education</label>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Degree: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.degree}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Major: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.major}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">GPA: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.gpa | number : 2}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">(Expected) Graduation Date: </label>
		                <div class="col-md-9">
		                    <label class="control-lable">{{studentDetail.graddate | date:'MM/dd/yyyy'}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div ng-if="studentDetail.workexperience.length > 0">
	        		<div ng-repeat="workex in studentDetail.workexperience">
						<div class="row">
				            <div class="form-group col-md-12">
				                <label class="col-md-12 control-lable register-bolds">Work Experience {{workex.number}}</label>
				            </div>
			        	</div>	
			        	<div class="row">
				            <div class="form-group col-md-12">
				                <label class="col-md-3 control-lable">Position: </label>
				                <div class="col-md-9">
				                    <label class="control-lable">{{workex.position}}</label>
				                </div>
				            </div>
	        			</div>
	        			<div class="row">
				            <div class="form-group col-md-12">
				                <label class="col-md-3 control-lable">Company: </label>
				                <div class="col-md-9">
				                    <label class="control-lable">{{workex.company}}</label>
				                </div>
				            </div>
	        			</div>
	        			<div class="row">
			            	<div class="form-group col-md-3">
			                	<label class="col-md-3 control-lable">From</label>
			            	</div>
			            	<div class="form-group col-md-3">	
			            		<label class="control-lable">{{workex.from | date:'MM/dd/yyyy'}}</label>			                	
			            	</div>
			            	<div class="form-group col-md-3">
			                	<label class="col-md-3 control-lable">To</label>
			            	</div>
			            	<div class="form-group col-md-3">	
			            		<label class="control-lable">{{workex.to | date:'MM/dd/yyyy'}}</label>               
			            	</div>
		        		</div>	  
	        		</div>
		    	</div>
		    	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-12 control-lable register-bolds">Voluntary Self-Identification</label>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Race/Ethnicity: </label>
		                <div class="col-md-9">
		                    <label required="" class="control-lable">{{studentDetail.race}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Veteran Status: </label>
		                <div class="col-md-9">
		                    <label required="" class="control-lable">{{studentDetail.veteran}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Disability: </label>
		                <div class="col-md-9">
		                    <label required="" class="control-lable">{{studentDetail.disability}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row" ng-if="(studentDetail.linkedin!=undefined && studentDetail.linkedin!='')||(studentDetail.portfolio!=undefined && studentDetail.portfolio!='')">
		            <div class="form-group col-md-12">
		                <label class="col-md-12 control-lable register-bolds">Others</label>
		            </div>
	        	</div>	        		        		        
	        	<div class="row" ng-if="studentDetail.linkedin!=undefined && studentDetail.linkedin!=''">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">LinkedIn: </label>
		                <div class="col-md-9">
		                    <label required="" class="control-lable">{{studentDetail.linkedin}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row" ng-if="studentDetail.portfolio!=undefined && studentDetail.portfolio!=''">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Portfolio: </label>
		                <div class="col-md-9">
		                    <label required="" class="control-lable">{{studentDetail.portfolio}}</label>
		                </div>
		            </div>
	        	</div>
	        	<div class="row">
		            <div class="form-group col-md-12">
		                <label class="col-md-3 control-lable">Resume: </label>
		                <div class="col-md-9">
		                    <a href="" ng-click="getResume()" class="control-lable">View Your Resume</a>
		                </div>
		            </div>
	        	</div>	        	
        	</div>
    	</div>
    </div>
</div>